.z{
    border: 1px solid black;
    margin-left: 80px;
    margin-top: 30px;
    width: 500px;
}
.img1{
    float: left;
    position: relative;
}
.img2{
    float: left;
    position: relative;
}
.img3{
    float: left;
    position: relative;
}
.zz{
    border: 1px solid black;
    margin-left: 80px;
    margin-top: 30px;
    width: 500px;
    
}
.zzz{
    border: 1px solid black;
    margin-left: 80px;
    margin-top: 30px;
    width: 500px;
    
}

