*{
    background-color: black;
}

.text1{
    width: 100%;
  color: rgba(194,194,194,1);
  position: absolute;
  top: 200px;
  left: 400px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.text{
    width: 50%;
  color: rgba(194,194,194,1);
  position: absolute;
  top: 250px;
  left: 400px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.t1{
    width: 370px;
    height: 529px;
    color: white;
    position: absolute;
    top: 332px;
    left: 400px;
    overflow: hidden;
}
.t2{
    width: 370px;
    height: 529px;
    color: white;
    position: absolute;
    left: 775px;
    top: 332px;
}
.t3{
    width: 370px;
    height: 529px;
    color: white;
    position: absolute;
    left: 1175px;
    top: 332px;
}

  